// Font Family

$firaGo-SemiBold-ff: "FiraGo-SemiBold";
$firaGo-Medium-ff: "FiraGo-Medium";
$firaGo-Regular-ff: "FiraGo-Regular";
$firaGo-Thin-ff: "FiraGo-Thin";

// Font Sizes

$base-font-size: 16px;

$heading-fs: 2.7rem;
$sm-heading-fs: 1.95rem;
$title-fs: 1.2rem;
$paragraph-fs: 1.075rem;
$link-fs: 0.95rem;

// Font Weights

$semiBold-w7: 700;
$medium-w5: 500;
$regular-w4: 400;
$thin-w3: 300;

// Colors

$main-bg-color: #f7f7f7;
$light-green-color: #e4efe3;
$button-bg-color: #b8d0b6;
$black-color: #000;
$light-black-color: #181818;
$link-hover-color: #8eab8b;
$search-bg-color: #f2f2f2;
$paragraph-color: #4b4b4b;
