.bookCards_content {
  padding-bottom: 10rem;
  @include responsive(l_pc) {
    padding-bottom: 2.2rem;
  }

  .title {
    margin-bottom: 1.5rem;
  }

  .bookCards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 2.5rem 1.25rem;
    margin-bottom: 2.5rem;

    @media only screen and (max-width: 1884px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include responsive(l_pc) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2.375rem 1.25rem;
      margin-bottom: 2.1rem;
    }

    @include responsive(l-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive(phone) {
      grid-template-columns: 1fr;
    }

    .bookCard {
      max-width: 24.375rem;
      max-height: 21.375rem;
      @include flex;
      flex-direction: column;
      border-radius: 1.25rem;
      border-bottom: 1px solid #d5dce5;
      overflow: hidden;
      transition: 0.5s;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        box-shadow: 5px 5px 4px rgba(221, 221, 221, 0.5);
      }

      @include responsive(l-tablet) {
        max-width: 21.31rem;
      }

      @include responsive(phone) {
        max-width: 19.75rem;
        max-height: 19.6rem;
      }

      .bookCard_title {
        @include flex;
        width: 100%;
        padding: 1.75rem 0rem;
        border: 1px solid #d5dce5;
        border-bottom: none;

        @include responsive(phone) {
          text-align: center;
          padding: 1.75rem 5rem;
        }
      }
    }
  }
  .button_content {
    @include flex($justify: end);

    @include responsive(tablet) {
      justify-content: center;
    }
  }
}
