.greeting_section {
  background-color: $light-green-color;
  margin-bottom: 10.5rem;

  .greeting_content {
    position: relative;
    height: 20.5rem;
    padding-top: 3.75rem;
    @include flex($justify: start, $align: start);

    .greeting {
      h2 {
        margin-bottom: 2.4rem;
        line-height: 120%;
        @include text_font_style(
          $light-black-color,
          $firaGo-Medium-ff,
          $sm-heading-fs,
          $semiBold-w7
        );
      }

      h1 {
        width: 37rem;
        @include text_font_style(
          $light-black-color,
          $firaGo-SemiBold-ff,
          $heading-fs,
          $semiBold-w7
        );
      }
    }

    .greeting_img {
      position: absolute;
      top: 55%;
      left: 77%;
      transform: translate(-50%, -50%);
    }
  }

  @include responsive(tablet) {
    margin-bottom: 6.3rem;

    .greeting_content {
      padding-top: 2.75rem;

      .greeting_img {
        top: 45%;
        width: 15rem;
        height: 15.5rem;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .greeting {
        h2 {
          font-size: 1.7rem;
          margin-bottom: 1.25rem;
          font-family: $firaGo-SemiBold-ff;
        }
        h1 {
          font-size: 2.2rem;
          font-family: $firaGo-SemiBold-ff;
        }
      }
    }
  }

  @include responsive(phone) {
    .greeting_content {
      height: 12.5rem;

      .greeting_img {
        top: 55%;
        left: 83%;
        width: 6.3rem;
        height: 6.56rem;
      }

      .greeting {
        h2 {
          font-size: 1.25rem;
        }
        h1 {
          font-size: 1.25rem;
          width: 20rem;
        }
      }
    }
  }

  @include responsive(small_phone) {
    .greeting_content {
      .greeting {
        h2 {
          font-size: 1rem;
        }
        h1 {
          font-size: 1rem;
          width: 15rem;
        }
      }
    }
  }
}
