.footer {
  background-color: $main-bg-color;
  padding-top: 4.375rem;
  overflow: hidden;
  @include responsive(smallest_phone) {
    font-size: 0.85rem;
  }

  //   Info Section
  .info-section {
    @include flex($justify: space-between);
    margin-bottom: 4.375rem;

    @include responsive(phone) {
      margin-bottom: 3rem;
    }

    // Books
    .book {
      margin-left: auto;
      margin-right: auto;

      img {
        width: 3.875rem;

        @include responsive(phone) {
          width: 2.5rem;
        }
      }

      &.book-1 {
        margin-bottom: auto;
      }

      &.book-2 {
        margin-top: auto;
      }
    }

    // Content
    .content {
      @include flex;
      flex-direction: column;

      a {
        color: $black-color; // ჩემთან ფერს არ აღიქვამდა
      }

      //   Social Media Links
      .social-links {
        @include flex;
        margin: 2.5rem 0;

        a + a {
          margin-left: 2rem;
        }

        img {
          width: 2.375rem;

          @include responsive(phone) {
            width: 1.8rem;
          }
        }
      }

      p {
        strong {
          font-weight: bold;
        }
      }
    }
  }

  //   Books Section
  .books-section {
    background: url("../../assets/book_collection.svg");
    background-position: center;
    height: 6.5rem;

    @include responsive(l-pc) {
      height: 8rem;
    }

    @include responsive(l-tablet) {
      height: 4rem;
    }

    @include responsive(phone) {
      height: 2.5rem;
    }
  }
}
