
<div >
    {% if form.errors %}
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
            <div>
                * {{ error }}
            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.username(placeholder=form.username.label.text)}}
            {{ form.password(placeholder=form.password.label.text)}}
            {{ form.confirm_password(placeholder=form.confirm_password.label.text)}}
            {{ form.submit()}}
        </form>
    </div>
</div>
