{% extends "layouts/base.html" %}

{% block body %}


<main class="booksPage container main-container">
<h2>ინტერაქტიული წიგნები</h2>

<div class="cards">

  {% for book in books.items%}

  <div class="card">
    <a href="{{ url_for('book.book', id=book.id ) }}">
      <div class="img-div">
        <img src="{{ url_for('static', filename='img/' + book.img) }}" alt="card1" />
      </div>
      <div class="book-title">
        <h3>წიგნის სახელი: {{ book.project_name}}</h3>

      </div>
    </a>
  </div>

  {% endfor %}

</div>

<div class="pagination">

{% if books.page  != 1 %}
  <a href="{{ url_for('book.book_lab', page_num=page_num-1, search=search ) }}">
    <button class="prev-arr nav-btn">
      <img src="./static/assets/prev.svg" alt="Previous" />
    </button>
  </a>
{% endif %}

{% for page in books.iter_pages() %}

  {% if page %}

    <a href="{{ url_for('book.book_lab', page_num=page, search=search ) }}">
      <button class="num button">
        <span>{{ page }}</span>
      </button>
    </a>

  {% else %}

    ...

  {% endif %}

{% endfor %}

{% if books.pages  != page_num %}
  <a href="{{ url_for('book.book_lab', page_num=page_num+1, search=search ) }}">
    <button class="next-arr nav-btn">
      <img src="./static/assets/prev.svg" alt="Next" />
    </button>
  </a>
{% endif %}

</div>

<!-- Pagination -->


</main>


{% endblock %}