{% extends "layouts/base.html" %}

{% block body %}


<main class="booksPage container main-container">
<h2>ინტერაქტიული წიგნები</h2>

<div class="cards">

  {% for book in books.items%}

  <div class="card">
    <a href="{{ url_for('book.book', id=book.id ) }}">
      <div class="img-div">
        <img src="{{ url_for('static', filename='img/' + book.img) }}" alt="card1" />
      </div>
      <div class="book-title">
        <h3>წიგნის სახელი: {{ book.project_name}}</h3>

      </div>
    </a>
  </div>

  {% endfor %}

</div>

{% for page in books.iter_pages() %}

  {% if page %}
    
  <a href="{{ url_for('book.book_lab', page_num=page, search=search ) }}" class="num button active">
    <span>{{ page }}</span>
  </a>

  {% else %}

    ...

  {% endif %}

{% endfor %}

<!-- Pagination -->
<div class="pagination">
  <!-- Previous Button -->
  <button class="prev-arr nav-btn">
    <img src="./static/assets/prev.svg" alt="Previous" />
  </button>

  <!-- Numbers -->


  <button class="num button">
    <span>2</span>
  </button>

  <button class="num button">
    <span>3</span>
  </button>

  <button class="num button">
    <span>...</span>
  </button>

  <button class="num button">
    <span>10</span>
  </button>

  <!-- Next Button -->
  <button class="next-arr nav-btn">
    <img src="./static/assets/prev.svg" alt="Next" />
  </button>
</div>

</main>


{% endblock %}