{% extends "auth/login.html" %}

{% block title%} Reset Password {% endblock %}

{% block content %}
    <div  class="container" style="width: 50%; margin-top: 6%;">
        {% if form.errors %}
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                    * {{ error }}
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="bg-white p-3 rounded shadow">
            <form method="POST">
                <h1 style="margin-bottom: 4%;">Enter your new password</h1>
                {{ form.hidden_tag() }}
                {{ form.password(class="form-control mt-2", placeholder=form.password.label.text)}}
                {{ form.confirm_password(class="form-control mt-2 mb-4", placeholder=form.confirm_password.label.text)}}
                {{ form.submit(class="btn btn-primary mt-2")}}
            </form>
        </div>
    </div>
{% endblock %}


