<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Laboratory of books, Unilab Project" />
    <meta name="author" content="Guga Kobakhidze, Luka Butskhrikidze" />
    <title>Laboratory of books</title>
    <link rel="stylesheet" href="./styles/css/global.css" />
  </head>
  <body>
    <!-- Mobile Menu -->
    <div class="mobileMenu">
      <div class="closeBtn">
        <svg
          class="closeButton"
          width="65"
          height="65"
          viewBox="0 0 65 65"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter0_d_936_4013)">
            <rect
              width="39.0763"
              height="3.3494"
              rx="1.6747"
              transform="matrix(0.707118 -0.707096 0.707118 0.707096 20 42.6309)"
              fill="#3E3E3E"
            />
            <rect
              width="39.0763"
              height="3.3494"
              rx="1.6747"
              transform="matrix(0.707118 0.707096 -0.707118 0.707096 22.3687 15)"
              fill="#3E3E3E"
            />
          </g>
          <defs>
            <filter
              id="filter0_d_936_4013"
              x="0.693848"
              y="-4.30664"
              width="68.6128"
              height="68.6113"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset />
              <feGaussianBlur stdDeviation="10" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_936_4013"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_936_4013"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
      </div>
      <nav class="mobile_nav">
        <ul>
          <li><a href="index.html">მთავარი</a></li>
          <li><a href="./booksPage.html">წიგნების ლაბორატორია</a></li>
          <li><a href="#">პროექტის შესახებ</a></li>
        </ul>
      </nav>
    </div>

    <!-- OverLay -->
    <div class="overlay">
      <div class="merge_header-main">
        <!-- Header Content -->
        <header class="header_container">
          <div class="header_content container">
            <div class="logos">
              <a href="https://iliauni.edu.ge/ge" target="_blank"
                ><img class="Logo" src="./assets/UnilabLogo.svg" alt="Logo"
              /></a>
              <a href="https://unilab.iliauni.edu.ge/" target="_blank"
                ><img class="UnilabLogo" src="./assets/logo.svg" alt="Logo"
              /></a>
            </div>
            <div class="search_form">
              <form>
                <label for="h-searchs" class="visually-hidden">Seach</label>
                <input type="search" id="h-searchs" name="search" />
                <button type="submit" aria-label="Search">
                  <svg
                    class="search-icon"
                    width="28"
                    height="33"
                    viewBox="0 0 28 33"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <rect
                      x="0.672678"
                      width="12.901"
                      height="1.31684"
                      transform="matrix(0.672678 0.739935 0.672678 -0.739935 16.8051 21.3382)"
                      fill="#F2F2F2"
                      stroke="black"
                    />
                    <path
                      d="M20.4383 12.3948C20.4383 18.5246 15.9312 23.4107 10.4691 23.4107C5.00711 23.4107 0.5 18.5246 0.5 12.3948C0.5 6.26498 5.00711 1.37891 10.4691 1.37891C15.9312 1.37891 20.4383 6.26498 20.4383 12.3948Z"
                      fill="#F2F2F2"
                      stroke="black"
                    />
                  </svg>
                </button>
              </form>
            </div>
            <div class="navigation">
              <div class="burgerMenu">
                <svg
                  width="29"
                  height="18"
                  viewBox="0 0 29 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="0.350586"
                    width="28.6491"
                    height="3.00003"
                    rx="1.50001"
                    fill="#3E3E3E"
                  />
                  <rect
                    x="0.350586"
                    y="7.5"
                    width="28.6491"
                    height="3.00003"
                    rx="1.50001"
                    fill="#3E3E3E"
                  />
                  <rect
                    x="0.350586"
                    y="15"
                    width="28.6491"
                    height="3.00003"
                    rx="1.50001"
                    fill="#3E3E3E"
                  />
                </svg>
              </div>
              <nav>
                <ul>
                  <li><a href="index.html">მთავარი</a></li>
                  <li><a href="./booksPage.html">წიგნების ლაბორატორია</a></li>
                  <li><a href="#">პროექტის შესახებ</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </header>

        <!-- BooksPage Main Content -->
        <main class="booksPage container main-container">
          <h2>ინტერაქტიული წიგნები</h2>

          <!-- Cards -->
          <div class="cards">
            <!-- Cards -->
            <div class="card">
              <a href="#">
                <div class="img-div">
                  <img src="./assets/cards/card1.svg" alt="card1" />
                </div>
                <div class="book-title">
                  <h3>ჯადოსნური კარადა</h3>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <div class="img-div">
                  <img src="./assets/cards/card1.svg" alt="card1" />
                </div>
                <div class="book-title">
                  <h3>ჯადოსნური კარადა</h3>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <div class="img-div">
                  <img src="./assets/cards/card1.svg" alt="card1" />
                </div>
                <div class="book-title">
                  <h3>ჯადოსნური კარადა</h3>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <div class="img-div">
                  <img src="./assets/cards/card1.svg" alt="card1" />
                </div>
                <div class="book-title">
                  <h3>ჯადოსნური კარადა</h3>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <div class="img-div">
                  <img src="./assets/cards/card1.svg" alt="card1" />
                </div>
                <div class="book-title">
                  <h3>ჯადოსნური კარადა</h3>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <div class="img-div">
                  <img src="./assets/cards/card1.svg" alt="card1" />
                </div>
                <div class="book-title">
                  <h3>ჯადოსნური კარადა</h3>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <div class="img-div">
                  <img src="./assets/cards/card1.svg" alt="card1" />
                </div>
                <div class="book-title">
                  <h3>ჯადოსნური კარადა</h3>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <div class="img-div">
                  <img src="./assets/cards/card1.svg" alt="card1" />
                </div>
                <div class="book-title">
                  <h3>ჯადოსნური კარადა</h3>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <div class="img-div">
                  <img src="./assets/cards/card1.svg" alt="card1" />
                </div>
                <div class="book-title">
                  <h3>ჯადოსნური კარადა</h3>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <div class="img-div">
                  <img src="./assets/cards/card1.svg" alt="card1" />
                </div>
                <div class="book-title">
                  <h3>ჯადოსნური კარადა</h3>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <div class="img-div">
                  <img src="./assets/cards/card1.svg" alt="card1" />
                </div>
                <div class="book-title">
                  <h3>ჯადოსნური კარადა</h3>
                </div>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <div class="img-div">
                  <img src="./assets/cards/card1.svg" alt="card1" />
                </div>
                <div class="book-title">
                  <h3>ჯადოსნური კარადა</h3>
                </div>
              </a>
            </div>
          </div>

          <!-- Pagination -->
          <div class="pagination">
            <!-- Previous Button -->
            <button class="prev-arr nav-btn">
              <img src="./assets/prev.svg" alt="Previous" />
            </button>

            <!-- Numbers -->
            <button class="num button active">
              <span>1</span>
            </button>

            <button class="num button">
              <span>2</span>
            </button>

            <button class="num button">
              <span>3</span>
            </button>

            <button class="num button">
              <span>...</span>
            </button>

            <button class="num button">
              <span>10</span>
            </button>

            <!-- Next Button -->
            <button class="next-arr nav-btn">
              <img src="./assets/prev.svg" alt="Next" />
            </button>
          </div>
        </main>
      </div>

      <!-- Footer Content -->
      <footer class="footer" id="footer">
        <!-- Info section -->
        <div class="info-section">
          <!-- Book 1 -->
          <div class="book book-1">
            <img src="./assets/book_1.svg" alt="Book" />
          </div>
          <!-- Footer content -->
          <div class="content">
            <a href="mailto:infounilab@iliauni.edu.ge"
              >infounilab@iliauni.edu.ge</a
            >
            <!-- Social Media Links -->
            <div class="social-links">
              <a href="#">
                <img src="./assets/facebook.svg" alt="Facebook" />
              </a>
              <a href="#">
                <img src="./assets/instagram.svg" alt="instagram" />
              </a>
            </div>
            <p>
              საიტზე მუშაობდა <strong><a href="#">უნილაბის</a></strong> გუნდი
            </p>
          </div>
          <!-- Book 2 -->
          <div class="book book-2">
            <img src="./assets/book_2.svg" alt="Book" />
          </div>
        </div>
        <!-- Books section -->
        <div class="books-section"></div>
      </footer>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>
