

{% extends 'layouts/base.html' %}


  {% block title %}
    Laboratory of books
  {% endblock %}

  {% block content %}

        <!-- Detailed Main Content -->
        <main class="main-container main-container-mobile" id="main-detailed">
          <section class="detailed_section">
            <div class="ditailed_content container">
              <div class="detaield_image">
                <img src="{{ url_for('static', filename='img/' + book.img) }}" alt="detaield-image" />
              </div>
              <div class="detailed_info">
                <h2>{{ book.project_name }}</h2>
                <h3>პროექტზე მუშაობდნენ:</h3>
                <div class="project_authors">
                  <p>მოსწავლე: <span>{{ book.student_fullname }}</span></p>
                  <p>მენტორები: 
                    <span>
                    {% for mentor in book.mentors %}
                        {{ mentor.fullname }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </span>
                  </p>
                  <p>
                    მასწავლებლები: 
                    <span>
                    {% for teacher in book.teachers %}
                        {{ teacher.fullname }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </span>
                  </p>
                  <p>
                    სკოლა: <span>{{ book.school }}</span>
                  </p>
                  <p>კლასი: <span>{{ book.student_class }}</span></p>
                </div>
                <a href="{{ book.project_link }}" class="btn">პროექტის ბმული</a>
              </div>
            </div>
          </section>
        </main>
      </div>


{% endblock %}

      


       