<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="{{ url_for('static', filename='img/' + book.img) }}" alt="{{book.project_name}}" style="height: 30%; width: 30%;">
        <h5>Book name: {{ book.project_name}}</h5>
        <p>Author: {{ book.student_fullname}}</p>
        <p>school: {{ book.school}}</p>
        <p>class: {{ book.student_class}}</p>
        <p>mentors:
            {% for mentor in book.mentors %}
                {{ mentor.fullname }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p>teachers:
            {% for teacher in book.teachers %}
                {{ teacher.fullname }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        <a href="{{ book.project_link}}"><button>პროექტის ბმული</button></a>
    </div>
</body>
</html>

       