<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Laboratory of books, Unilab Project" />
    <meta name="author" content="Guga Kobakhidze, Luka Butskhrikidze" />
    <title>{% block title%} {% endblock %}</title>
    <link rel="stylesheet" href="../static/styles/css/global.css" />
  </head>

  <body>
    {% include 'layouts/nav.html' %}

    {% block content %}

    {% endblock %}

    {% include 'layouts/footer.html' %}

  </body>

  <script src="{{ url_for('static', filename='scripts/burger_menu.js') }}"></script>

</html>