
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="Laboratory of books, Unilab Project" />
      <meta name="author" content="Guga Kobakhidze, Luka Butskhrikidze" />
      <title>{% block title%}  {% endblock %}</title>
      <link href="{{ url_for('admin.static', filename='bootstrap/bootstrap4/swatch/{swatch}/bootstrap.min.css'.format(swatch=config.get('FLASK_ADMIN_SWATCH', 'default')), v='4.2.1') }}"
      rel="stylesheet">
      <link rel="stylesheet" href=" {{ url_for('static', filename='styles/css/global.css') }}" />

    </head>
<body>
  {% include "layouts/header.html" %}
  
  <div class="overlay">
    <div class="merge_header-main">

      {% block body %}


      {% endblock %}
    </div>

    {% include "layouts/footer.html" %}
  </div>


  <script src="../static/js/script.js"></script>
</body>

</html>