
<!-- Footer Content -->
<footer class="footer" id="footer">
    <!-- Info section -->
    <div class="info-section">
      <!-- Book 1 -->
      <div class="book book-1">
        <img src="{{ url_for('static', filename='img/' + 'book_1.svg')}}" alt="Book" /> <!--./assets/book_1.svg-->
      </div>
      <!-- Footer content -->
      <div class="content">
        <a href="mailto:infounilab@iliauni.edu.ge"
          >infounilab@iliauni.edu.ge</a
        >
        <!-- Social Media Links -->
        <div class="social-links">
          <a href="#">
            <img src="{{url_for('static', filename='img/' + 'facebook.svg')}}" alt="Facebook" /> <!--./assets/facebook.svg-->
          </a>
          <a href="#">
            <img src="{{url_for('static', filename='img/' + 'instagram.svg')}}" alt="instagram" /> <!--./assets/instagram.svg-->
          </a>
        </div>
        <p>
          საიტზე მუშაობდა <strong><a href="#">უნილაბის</a></strong> გუნდი
        </p>
      </div>
      <!-- Book 2 -->
      <div class="book book-2">
        <img src="{{url_for('static', filename='img/' + 'book_2.svg')}}" alt="Book" /> <!--./assets/book_2.svg-->
      </div>
    </div>
    <!-- Books section -->
    <div class="books-section"></div>
  </footer>