.booksPage {
  h2 {
    margin: 3rem 0 2.2rem 0;
    @include text_font_style(
      $black-color,
      $firaGo-SemiBold-ff,
      2rem,
      $semiBold-w7
    );
  }

  //   Cards
  .cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(12rem, 1fr));
    justify-content: space-around;
    gap: 3.5rem 1.25rem;

    @include responsive(l-tablet) {
      grid-template-columns: repeat(3, minmax(12rem, 1fr));
    }

    @include responsive(phone) {
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    }

    .card {
      overflow: hidden;
      border-radius: 1rem;
      background-color: white;
      transition: 0.5s;

      &:hover {
        box-shadow: 5px 5px 4px rgba(221, 221, 221, 0.5);
      }

      a {
        .img-div {
          overflow: hidden;
          @include flex();

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        // book title
        .book-title {
          padding: 2rem 0;
          text-align: center;
          border-radius: 0 0 1rem 1rem;
          border: 1px solid #d5dce5;

          h3 {
            @include text_font_style(
              $black-color,
              $firaGo-SemiBold-ff,
              1rem,
              $semiBold-w7
            );
          }
        }
      }
    }
  }

  //   Pagination
  .pagination {
    @include flex($justify: start);
    gap: 0.8rem;
    margin-top: 2.8rem;

    @include responsive(phone) {
      gap: 0.5rem;
    }

    button {
      background-color: white;
      border-radius: 1rem;
      border: none;
      width: 4rem;
      height: 4rem;

      @include responsive(phone) {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.8rem;
      }

      @include responsive(small_phone) {
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
      }

      img {
        width: 2.8rem;
        height: 2.8rem;

        @include responsive(phone) {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .num {
      font-size: 1.3rem;

      @include responsive(phone) {
        font-size: 1rem;
      }

      @include responsive(small_phone) {
        font-size: 0.8rem;
      }

      font-weight: bold;
      &.active {
        background-color: $light-green-color;
      }
    }

    .nav-btn {
      @include flex();
      &.next-arr {
        transform: rotate(180deg);
      }
    }
  }
}
